Flask==2.2.5
Werkzeug==2.3.7
sentencepiece==0.2.0
transformers==4.42.4
torch==2.1.0
requests==2.32.3
beautifulsoup4==4.12.3
pdf2image==1.17.0
Pillow==10.4.0
pytesseract==0.3.13
gunicorn==22.0.0
langdetect==1.0.9
selenium==4.23.1
numpy==1.26.4
sacremoses==0.1.1
psutil==5.9.0
timeout-decorator==0.5.0
fuzzywuzzy==0.18.0
python-Levenshtein==0.25.1